.centered {
    text-align: center;
    margin:0;
}

.title {
    font-size: 3rem;
}

#subtitle {
    font-size: 1.5rem;
}

div, h1, p ,h2 {
    background-color: gray;
    margin: 0;
}

li {
    list-style-type: none;
    font-size: 10px;
}

#content {
    text-decoration: underline;
    
}
.monospaced {
    font-family: monospace;
    font-size: 10px;
    
}
h2 {
    font-weight: normal;
    font-size: 10px;
}
